@font-face {
    font-family: Reckless;
    src: url(fonts/RecklessCondensedS-TRIAL-Book.woff);
}
@font-face {
    font-family: Roboto-Mono;
    src: url(fonts/RobotoMono-Regular.ttf);
}

@font-face {
    font-family: midnight;
    src:url(fonts/midnight-sans-rd-12-semibold-trial.otf)
}

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html,
body {
 height: 100vh;
 width: 100%;
}

main{
    width: 100%;
    min-height: 100vh;
    background-color: #FBF9EB;
}

nav{
    width: 100%;
    background-color: #FFFEFB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Reckless";
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-size: 0.8rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

nav .nav-part-1{
    display: flex;
    gap: 1rem;
    width: 5%;
    font-size: 1.3rem;
}

nav i{
    font-size: 1.5rem;
    width:33%;
}

.nav-part-1 h3{
    font-weight: 400;
    display: none;
}

nav .nav-part-2{
    width: 25vw;
    height: auto;
}

.nav-part-2 img{
    width: 100%;
    object-fit: cover;
}

.nav-part-3{
    display: flex;
    gap: 1rem;
    justify-content: end;
    font-family: Roboto Mono;
    align-items: center;
    width: 33%;
    font-size: 0.7rem;
    text-transform: uppercase;

}

.nav-part-3 h3{
    font-weight: 500;
    font-family: Roboto-Mono;
    display: none;
}

.nav-part-3 .cart-icon{
    font-size: 1.5rem;
}

#hero-section{
    width: 100%;
    min-height: 85vh;
    background-image: url(images/hero-bg.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1.5rem 2rem;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid #000;
}

#hero-section h1{
    font-family: "Reckless";
    font-size: clamp(2.4rem, 5vw, 5rem);
    color: #201c1a;
    font-weight: 100;
    text-align: center;
}


#hero-section p{
    font-family: "Roboto-Mono";
    font-size: clamp(0.8rem, 2vw, 1.5rem);
    color: #201c1a;
    text-align: center;
    font-weight: 100;
}

#hero-section p span{
    font-weight: bold;
}

#hero-section button{
    width: 95%;
    padding: 1.2rem;
    background-color: #2A2857;
    color:#ffffff;
    font-family: "Roboto-Mono";
    font-size: 1.2rem;
    border-radius: 2rem;
    border: none;
}

#product-section{
    width: 100%;
    height: 100%;
    padding: 7rem 1rem;
    border-bottom:2px solid black ;
}

.product-txt{
    font-family: "Reckless";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-txt h1{
    font-size: clamp(2.2rem, 8vw , 5rem);
    font-weight: 100;
    width: 78%;
    text-align: center;
}

#product-section #top-btn {
    padding: 0.3rem 0.2rem;
    font-family: "midnight";
    font-size: clamp(2.2rem, 5vw, 3.8rem);
    background-color: #DAAEEA;
    border-radius: 0.5rem;
    margin-top: 2rem;
    rotate: -2deg;
    letter-spacing: 0.04rem;
}



.card-container{
    width: 100%;
    padding: 2rem 0rem;
    display: flex;
    overflow-x: auto;
}

.card-container::-webkit-scrollbar{
    display: none;
}


.card {
    /* width: clamp(100%, 4vw,100%); */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-shrink: 0;
}

.card-top{
    width: clamp(60%,8vw,100%);    
    height: 55vh;
    background-color: #C1EE91;
    border: 1px solid black;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
}

.card img{
    width: 100%;
    height: 80%;
    top: 2rem;
    object-fit: fit;
    position: absolute;
}

.card-top-txt{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
}

.card-top-txt button{
    font-size: clamp(1.3rem, 4vw , 1rem);
    font-family: "midnight";
    padding: 0.01rem 0.3rem;
    letter-spacing: 0.02rem;
}

.card-btm-txt{
    display: flex;
    flex-direction: column;
    align-items:end;
    padding: 2rem 1.5rem;
    font-family: "Reckless";
}

.card-btm-txt #add-btn{
    padding: 0.8rem 0;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: #FFFFFF;
}

.card-top:hover img{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.card-btm{
    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem;
    gap: 0.5rem;
    font-family: "Reckless";
}

.card-btm h1{
    font-size: clamp(1.3rem, 4vw, 2rem);
    font-weight: 100;
}

.card-btm h3{
    font-size: clamp(1.1rem,5vw,1.5rem);
    letter-spacing: 0.1rem;
    font-weight: 100;
}


.card-btm p{
    width: 60%;
    font-size: clamp(0.7rem,4vw,0.9rem);
    font-weight: 100;
    opacity: 0.5;
    font-family: "figtree", sans-serif;
}


#ex-btn{
    display: flex;
    justify-content: center;
}
#ex-btn button{
    background-color: #2B2957;
    color: #ffffff;
    padding: 0.8rem 3.5rem;
    font-size: clamp(1.2rem, 4vw , 1.4rem);
    border-radius: 1.5rem;
    border: none;
}

#product-des{
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;
}

#product-des #start-btn{
    align-self: self-start;
    padding: 0.01rem 0.2rem;
    font-family: "midnight";
    font-weight: 600;
    font-size: clamp(2.2rem, 5vw, 3.8rem);
    background-color: #fd7f32; 
    border-radius: 0.5rem;
    rotate: -2deg;
    letter-spacing: 0.01rem;
}

#product-des h1{
    font-family: "figtree", sans-serif;
    font-weight: lighter;
    font-size: clamp(2rem, 5vw, 2.5rem);
    opacity: 0.8;
    letter-spacing: -1px;
}

#product-des input{
    width: 100%;
    padding: 1.5rem 1rem;
    border-radius: 0.8rem;
    font-size: clamp(1.8rem,4vw,1.8rem);
    color: #dadada;
    background: transparent;
}

#product-des p{
    font-family: "figtree", sans-serif;
    font-weight: 100;
    font-size: clamp(0.5rem,4vw,1rem);
}


.tea-btn{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.tea-btn span{
    display: inline-block;
    padding: 0.4rem 1.4rem;
    border: 1px solid #1f1f1f;
    border-radius: 0.5rem;
    background-color: #d9e6ff;
    font-family: "Reckless";
    font-size: clamp(1.8rem,4vw,1rem);
    cursor: pointer;
    transition: all 0.2s ease;
}

.vibe-tags span:hover {
    background-color: #c5d8ff;
}

#reviews{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 1rem 1rem;
    gap: 3rem;
}

#review-btn{
    padding: 0.3rem 0.2rem;
    font-family: "midnight";
    font-size: clamp(2.2rem, 5vw, 3.8rem);
    background-color: #DAAEEA;
    border-radius: 0.5rem;
    margin-top: 2rem;
    rotate: -2deg;
    letter-spacing: 0.04rem;
}

.card-r-container{
    width: 100%;
    display: flex;
    gap: 0.3rem;
    overflow-x: auto;
    
}
.card-review{
    width: 100%;
    height: 65vh;
    border: 1px solid black;
    border-radius: 0.7rem;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f5af8b;
    flex-shrink: 0;
}

.top-r-txt{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.top-r-txt h1{
    padding: 2rem 0 0 1rem;
    font-family: "Reckless";
    font-weight: 100;
    text-align: center;
    font-size: clamp(1.5rem,4vw,1.8rem);
}

.top-r-txt p{
    padding: 1rem 0 0 1rem;
    font-size: clamp(1rem,4vw,1,2rem);
    color: #ffffff;
    opacity: 0.8;
}


.btm-r-txt{
    width: 85vw;
    height: 40%;
    background-color: #eb6d44;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0 1rem;
    border-radius: 0.8rem;
    border: 1px solid black;
}

.btm-r-txt h3{
    padding: 0 0.3rem;
    color: #ffffff;
    font-family: "Roboto Mono";
    font-weight: 100;
    font-size: clamp(0.4rem,4vw,1.2rem);
}


.btm-r-txt img{
    width: 100%;
    height: 80%;
    object-fit: fill;
}

.btm-r-txt button{
    padding: 0.9rem 0.8rem;
    background-color: #ffffff;
    font-family: "figtree", sans-serif;
    border-radius: 1.5rem;
    font-size: clamp(1rem,3vw,1.4rem);
}

.footer-sec{
    display: flex;
    justify-content: center;
    padding: 1rem 1rem;
    background-color: #c1dbff;
}

.links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.8rem;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    background-color: #2a2857;
}

.links h2 {
    font-size: clamp(1.3rem,4vw,1.5rem);
    color: #ffffff;
    opacity: 0.8;
}

.links h3{
    font-size: clamp(1rem,4vw,0.8rem);
    color: #dadada;
    opacity: 0.5;
}
@media (min-width:768px) {
    
}

@media (min-width:1024px) {
    .nav-part-1 h3{
    font-size: 1.5rem;
    font-weight: 400;
    display: block ;
}

.nav-part-1{
    width: 60%;
}


nav #menu-icon{
    font-size: 1.5rem;
    width:33%;
    display: none;
}

.nav-part-3 h3{
    font-weight: 500;
    font-family: Roboto-Mono;
    display: block;
    white-space: nowrap;
}

nav .nav-part-2{
    width: 6%;
}

.nav-part-3{
    width: 10%;
}

nav{
    display: flex;
    align-items: center;
}


#hero-section{
    width: 100%;
    min-height: 85vh;
    background-image: url(./images/hero-bg.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1.5rem 2rem;
    align-items: start;
    gap: 1rem;
}


#hero-section h1{
    font-family: "Reckless";
    color: #201c1a;
    font-weight: 100;
    text-align: start;
}

#hero-section p{
    font-family: "Roboto-Mono";
    font-size: clamp(0.8rem, 2vw, 1.5rem);
    color: #201c1a;
    text-align: start;
    font-weight: 100;
}

#hero-section button{
    width: fit-content;
    padding: 1.2rem 4rem;
    background-color: #2A2857;
    color:#ffffff;
    font-family: "Roboto-Mono";
    font-size: 1.2rem;
    border-radius: 2rem;
    border: none;
}

#product-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.product-txt h1{    
    width: 56%;
}


.card {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-shrink: 0;
    padding: 3rem 1rem;
}

.card-top{
    width: 90%;
    height: 55vh;
    background-color: #C1EE91;
    border: 1px solid black;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    overflow: hidden;
}


#product-des{
    padding: 5rem 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;
}


#product-des h1{
    width: 90%;
    text-align: start;
}

#product-des input{
    width: 40%;
    align-content: start;
}

.card-review{
    width: 30%;
}

.btm-r-txt{
    width: 100%;
}

#reviews{
    display: flex;
    justify-content: center;
    align-items: center;
}


.links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.8rem;
    padding: 2rem 1.5rem;
    border-radius: 0.5rem;
    background-color: #2a2857;
}

.footer-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1.5rem;
    background-color: #c1dbff;
}

}
